include README.rst
recursive-include  webbpsf/otelm *.fits *.txt
recursive-include webbpsf/tests/surs *.xml

recursive-include webbpsf *.pyx *.c
include setup.cfg
include pyproject.toml

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o
prune docs/_build
prune build
